#nixon {
    cursor: url('happy_nixon.png'), pointer;
    color: white;
    text-shadow: black 0px 1px 1px;
    margin: 1%;
    padding: 2%;
    vertical-align: middle;
    background-color: rgb(2, 179, 2);
    border-radius: 15%;
    border: #C4B0A9 outset 15px;
    width: 15%;
    font-size: 1.5em;
    margin-bottom: 5%;
    transition: 0.3s;
    display: inline-block;
}

#nixon:hover {
    color: #FFCC57;
    margin: 1%;
    padding: 2%;
    background-color: rgb(2, 179, 2);
    border-radius: 15%;
    border: #FFCC57 outset 15px;
    width: 15%;
    font-family: Patrick Hand;
    font-size: 1.5em;
    transition: 0.3s;
    transform: scale(1.2);
    margin-bottom: 5%;
}

#other {
    cursor: url('mad_nixon.png'), pointer;
    color: white;
    text-shadow: black 0px 1px 1px;
    margin: 1%;
    padding: 3%;
    vertical-align: middle;
    background-color: rgba(255, 0, 0, 0.712);
    border-radius: 15%;
    border: #C4B0A9 inset 15px;
    width: 15%;
    font-size: 1.5em;
    margin-bottom: 5%;
    transition: 0.3s;
    display: inline-block;
    padding-bottom: 70px;
}

#other:hover {
    color: white;
    margin: 1%;
    padding: 3%;
    vertical-align: middle;
    background-color: grey;
    border-radius: 15%;
    border: rgb(97, 74, 0) inset 15px;
    width: 15%;
    font-family: Patrick Hand;
    font-size: 1.5em;
    margin-bottom: 5%;
    transition: 0.3s;
    transform: scale(0.8);
    padding-bottom: 70px;
}

#blakebtn {
    cursor: url("blake.png"), pointer;
    font-size: 0.01em;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h5 {
    text-align: center;
}

#container {
    text-align: center;
}

html {
    background: rgb(105,155,200);
    background: radial-gradient(ellipse at top left, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
}

#other a {
    text-decoration: none;
    color: white;
}

#other a:visited {
    text-decoration: none;
    color: white;
}

#nixon a {
    text-decoration: none;
    color: white;
}

#nixon a:visited {
    text-decoration: none;
    color: white;
}

#nixon2 {
    position: fixed;
    cursor: url('happy_nixon.png'), pointer;
    color: white;
    text-shadow: black 0px 1px 1px;
    margin: 1%;
    padding: 2%;
    vertical-align: middle;
    background-color: rgb(2, 179, 2);
    border-radius: 15%;
    border: #C4B0A9 outset 15px;
    width: 15%;
    font-size: 1.5em;
    margin-bottom: 5%;
    transition: 0.1s;
    display: inline-block;
    transition: 1s;
}

#nixon2:hover {
    color: #FFCC57;
    margin: 1%;
    padding: 2%;
    background-color: rgb(2, 179, 2);
    border-radius: 15%;
    border: #FFCC57 outset 15px;
    width: 15%;
    font-family: Patrick Hand;
    font-size: 1.5em;
    transition: 0.3s;
    transform: scale(1.2);
    margin-bottom: 5%;
}



#container1 {
    margin-left: 39%;
    text-align: center;
    cursor: url('happy_nixon.png'), pointer;
    color: white;
    text-shadow: black 0px 1px 1px;
    padding: 2%;
    vertical-align: middle;
    background-color: rgb(2, 179, 2);
    border-radius: 15%;
    border: #C4B0A9 outset 15px;
    width: 15%;
    font-size: 1.5em;
    margin-bottom: 5%;
    transition: 0.3s;
    display: inline-block;
}

#container1:hover {
    text-align: center;
    color: #FFCC57;
    margin-left: 39%;
    padding: 2%;
    background-color: rgb(2, 179, 2);
    border-radius: 15%;
    border: #FFCC57 outset 15px;
    width: 15%;
    font-family: Patrick Hand;
    font-size: 1.5em;
    transition: 0.3s;
    transform: scale(1.2);
    margin-bottom: 5%;
}

#nixon3 {
    text-align: center;
    cursor: url('happy_nixon.png'), pointer;
    color: white;
    text-shadow: black 0px 1px 1px;
    background-color: rgb(2, 179, 2);
    border: none;
    font-size: 1.2em;
}

#nixon4 {
    text-align: center;
    cursor: url('mad_nixon.png'), pointer;
    color: white;
    text-shadow: black 0px 1px 1px;
    background-color: red;
    border: none;
    font-size: 1.2em;
}


#container2 {
    text-align: center;
    cursor: url('mad_nixon.png'), pointer;
    color: white;
    text-shadow: black 0px 1px 1px;
    margin-left: 39%;
    padding: 2%;
    vertical-align: middle;
    background-color: red;
    border-radius: 15%;
    border: #C4B0A9 inset 15px;
    width: 15%;
    font-size: 1.5em;
    margin-bottom: 5%;
    transition: 0.3s;
    display: inline-block;
}

#container2:hover {
    color: white;
    margin-left: 39%;
    padding: 3%;
    vertical-align: middle;
    border-radius: 15%;
    border: rgb(97, 74, 0) inset 15px;
    width: 15%;
    font-family: Patrick Hand;
    font-size: 1.5em;
    margin-bottom: 5%;
    transition: 0.3s;
    transform: scale(0.8);
}

#containertext {
    vertical-align: middle;
    text-align: center;
}

#rigged {
    transform: scale(2)
}

h4 {
    text-align: center;
}